    <!-- ======================== banner ========================== -->
    <div class="inner_section_banner jarallax">
        <div class="bnr-agileinfo">
           <app-toolbar></app-toolbar>
        </div>
      </div>
      <!-- ======================== banner ========================== -->


      <!-- ======================== Doctor Profile ========================== -->
    <section class="mrg_tb_40">
    <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <mat-card>
              <div class="main_title">
                  <h1><i class="material-icons"> account_circle</i> Doctor Profile </h1>
              </div>

                <mat-horizontal-stepper>

                  <mat-step label="Info" state="phone">
                    <p class="mrg_tb_40">
                      During her time in the UK, she underwent training in IVF and was employed as a Research Fellow in the Department of Infertility and Reproductive Endocrinology for four years. Having returned to India in 2002, she continued her consultancy services in infertility treatments and joined Rainbow Hospitals in 2010.
                    </p>
                    <div class="mrg_t_40">
                      <button class="theme_btn float_right" mat-button matStepperNext>Next</button>
                    </div>
                  </mat-step>
                  <mat-step label="Location" state="chat">
                    <div class="row">
                       <div class="col-sm-6">
                          <h3 class="mrg_tb_40 sub_title"> Rainbow Children's Hospital BirthRight by Rainbow, Banjara Hills</h3>
                            <p>
                                Road No - 2, Banjara Hills, Near L V Prasad Eye Hospital, Next to Hotel Park Hyatt, Hyderabad - 500 034. Telangana, INDIA.
                            </p>
                            <button mat-raised-button color="accent">Book an Appointment</button>
                       </div>
                       <div class="col-sm-6">
                          <img src="assets/images/{{location_img}}" class="rounded loaction_img">
                       </div>
                    </div>
                    <div class="row mrg_t_40">
                        <div class="col-sm-6">
                           <h3 class="mrg_tb_40 sub_title"> Rainbow Children's Hospital BirthRight by Rainbow, Banjara Hills</h3>
                             <p>
                                 Road No - 2, Banjara Hills, Near L V Prasad Eye Hospital, Next to Hotel Park Hyatt, Hyderabad - 500 034. Telangana, INDIA.
                             </p>
                             <button mat-raised-button color="accent">Book an Appointment</button>
                        </div>
                        <div class="col-sm-6">
                           <img src="assets/images/{{location_img}}" class="rounded loaction_img">
                        </div>
                     </div>
                     <div class="row mrg_t_40">
                        <div class="col-sm-6">
                           <h3 class="mrg_tb_40 sub_title"> Rainbow Children's Hospital BirthRight by Rainbow, Banjara Hills</h3>
                             <p>
                                 Road No - 2, Banjara Hills, Near L V Prasad Eye Hospital, Next to Hotel Park Hyatt, Hyderabad - 500 034. Telangana, INDIA.
                             </p>
                             <button mat-raised-button color="accent">Book an Appointment</button>
                        </div>
                        <div class="col-sm-6">
                           <img src="assets/images/{{location_img}}" class="rounded loaction_img">
                        </div>
                     </div>
                    <div class="mrg_t_40">
                      <button mat-button class="theme_btn" matStepperPrevious>Back</button>
                      <button mat-button class="theme_btn float_right" matStepperNext>Next</button>
                    </div>
                  </mat-step>
                  <mat-step label="Doctor Dask">
                    <p class="mrg_tb_40">You're welcome.</p>
                  </mat-step>

                  <!-- Icon overrides. -->
                  <ng-template matStepperIcon="phone">
                    <mat-icon>call_end</mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="chat">
                    <mat-icon>forum</mat-icon>
                  </ng-template>
                </mat-horizontal-stepper>

            </mat-card>
         </div>
      </div>
    </div>
    </section>
      <!-- ======================== Doctor Profile ========================== -->

      <!-- ======================== footer ========================== -->
      <app-footer></app-footer>
      <!-- ======================== footer ========================== -->
