    <!-- ======================== banner ========================== -->
    <div class="inner_section_banner jarallax">
        <div class="bnr-agileinfo">
           <app-toolbar></app-toolbar>
        </div>
      </div>
      <!-- ======================== banner ========================== -->

      <!-- ======================== Doctor Profile ========================== -->
    <section class="mrg_tb_40">
    <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <mat-card>
              <div class="main_title">
                  <h1><i class="material-icons"> event_note</i> SAT, 19 JAN 2019</h1>
              </div>

               <div class="availble_time_card  ">
                    <div class="row">
                        <div class="col-sm-2">
                            <mat-card (click)="openDialog()">10:10 AM - 10:15 AM</mat-card>
                         </div>
                         <div class="col-sm-2">
                            <mat-card (click)="openDialog()"> 10:10 AM - 10:15 AM</mat-card>
                         </div>
                         <div class="col-sm-2">
                            <mat-card (click)="openDialog()">10:10 AM - 10:15 AM</mat-card>
                         </div>
                         <div class="col-sm-2">
                            <mat-card (click)="openDialog()">10:10 AM - 10:15 AM</mat-card>
                         </div>
                         <div class="col-sm-2">
                            <mat-card>10:10 AM - 10:15 AM</mat-card>
                         </div>
                        <div class="col-sm-2">
                           <mat-card (click)="openDialog()">10:10 AM - 10:15 AM</mat-card>
                        </div>
                    </div>
                    <div class="row m_t_10">
                        <div class="col-sm-2">
                            <mat-card (click)="openDialog()">10:10 AM - 10:15 AM</mat-card>
                         </div>
                         <div class="col-sm-2">
                            <mat-card (click)="openDialog()">10:10 AM - 10:15 AM</mat-card>
                         </div>
                         <div class="col-sm-2">
                            <mat-card (click)="openDialog()">10:10 AM - 10:15 AM</mat-card>
                         </div>
                         <div class="col-sm-2">
                            <mat-card (click)="openDialog()">10:10 AM - 10:15 AM</mat-card>
                         </div>
                         <div class="col-sm-2">
                            <mat-card (click)="openDialog()">10:10 AM - 10:15 AM</mat-card>
                         </div>
                        <div class="col-sm-2">
                           <mat-card (click)="openDialog()">10:10 AM - 10:15 AM</mat-card>
                        </div>
                    </div>
                  </div>

            </mat-card>
         </div>
      </div>
    </div>
    </section>
      <!-- ======================== Doctor Profile ========================== -->

      <!-- ======================== footer ========================== -->
      <app-footer></app-footer>
      <!-- ======================== footer ========================== -->
