.margin-left-5{
    margin-left: 5px;
}
.home-page .mat-select-value {
    color: rgba(236, 236, 236, 0.87);
}
.home-page .mat-input-element{
    color: rgba(236, 236, 236, 0.87);
}
.home-page .mat-raised-button.mat-accent{
    background: #ee2b48;
    color: #ffffff;
    font-size: 16px;
    border-radius: 10px;
    padding: 0 30px;
    top: 5px;
}
.home-page .mat-raised-button.mat-accent[disabled]{
    background: #b3afb0;
}
.home-page .card{
    border: 1px solid #dedede;
    min-height: auto;
}
.home-page .card .front .profile img{
    width: 85px;
}
.home-page .profile_bg{
    background-color: #f1f1f1;
}
.home-page .appointment-box{
    top: -25px;
    position: relative;
    margin-bottom: 10px;
}
.home-page .doctor_card,.home-page .card .front,.home-page .card .back{
    position: relative;
    max-height: 300px;
}
.home-page .card .content{
    position: relative;
}
.home-page .appointment-box h3{
    font-size: 18px;
    color: #252527;
}
.home-page .appointment-box p{
    line-height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-top: 10px;
    height: 87px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home-page .appointment-box .btnfooter{
    margin: 10px 0;
    border-top: 1px solid #dedede;
    padding-top: 10px;
    clear: both;
    background: #fdfdfd;
    padding-bottom: 10px;
}
.home-page .btnfooter .btn-1{
    border-radius: 2px;
    padding: 0px 15px;
    color: #0091ea;
    border: 1px solid #0091ea;
    background: #ffff;
    font-size: 14px;
}
.home-page .btnfooter .btn-2{
    border-radius: 2px;
    padding: 0px 15px;
    color: #fff;
    border: 1px solid #0091ea;
    font-size: 14px;
    background: #0091ea;
}
.home-page .mat-card,.home-page .patient_portal_table{
    border: 1px solid #dedede;
}
.home-page .timing_btn:hover{
    background: #def2ff;
}