
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fff;
}
h1,h2,h3{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.inner_section_banner {
  background: url(assets/images/1.jpg)no-repeat center 0px;
  min-height: 450px;
  .bnr-agileinfo{
    min-height: 450px;
  }
}


.slider_top{
  position: relative;
  top: -73px;
}

.floating_btn{
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 60%;
  text-align: center;
  max-width: 500px;
}

.card {
  width: 100%;
  min-height: 400px;
  height: auto;
  perspective: 450px;
  .front{   
    @extend .doctor_card;    
    .doctor_short_info{
      padding:0px 20px 20px 20px;
    }
    .profile{
      img{
        position: relative;
        top: -45px;
        width: 120px;
        border-radius: 50%;
        border: 3px solid #2d5e8f;
      }
    }
  }
  .back {
    @extend .doctor_card;
    background: #fff;
    color: #000;
    transform: rotateY( 180deg );
    .longdetails{
       padding: 45px 20px;
    }
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);  
}

.doctor_card{
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #03446A;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}

// ============ margin and Padding Code Start   Here  =================

.mrg_tb_40{
  margin-top:40px;
  margin-bottom:40px;
}
.mrg_t_40{
  margin-top:40px;
}
.m_r_10{
  margin-right: 10px!important;
}
.m_t_40{
  margin-top: 40px;
}
.p_rl_5{
  padding:5px 0px;
}
.m_t_10{
  margin-top: 10px;
}
// ============ margin and Padding Code Start   Here  =================

.dunderline{
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 40px 0px 40px 0;
}
.doctorsearch_part{
  padding: 45px 0px;
}
.doctortype_bg{
  width: 80%;
}
.main_title{
  i{
    font-size: 36px!important;
    position: relative;
    top: 7px;
  }
 h1{
  font-size: 20px !important;
  color: #4647ac;
  border-bottom: 2px solid #919ef1;
  padding-bottom: 12px;
  margin-bottom: 15px;
 }
}
.sub_title{
  font-size: 18px;
    color: #757575;
}

.theme_btn{
  background: #4647ac;
  border-radius: 20px!important;
  min-width: 200px!important;
  padding: 0px 4px!important;
  color: #fff;
  border: 2px solid #4647ac!important;
  &:hover{
    background: #fff;
    color: #4647ac;
    border: 2px solid #4647ac!important;
    box-shadow: 0px 5px 12px #808080b8;
  }
}
.float_right{
  float: right;
}
.loaction_img{
  height: 200px;
  width: 100%;
}

.patient_portal_table{
  table{
    width: 100%;
  }
}

.availble_time_card{
  padding-top: 40px;
  mat-card{
    border: 2px solid #fff;
    font-size: 12px!important;
    // background-color: #eeeeee;
    &:hover{
      border: 1px solid #4647ac;
    }
  }
}

.home_bg{
  background-image: url(assets/images/patientportal_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.home_banner_content{
  padding-top: 68px;
  .title{
    font-size: 50px;
    color: #fff;
  }
  p{
    padding-top: 30px;
    font-size: 28px;
    color: #fff;
  }
  .doctor_search{
    background-color: #0B488B;
    border-radius: 18px;
    padding-top: 10px;
    margin-top: 20px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(255, 255, 255, 0.96)!important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.85)!important;
}
.mat-select-arrow {
  color: #418CFE!important;
}
}


.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.58) !important;
}


.m_t_20{
  margin-top: 20px;
}
.p_0{
  padding: 0px!important;
}


.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
  background: #3339b1!important;
}
.mat-step-icon{
  height: 50px!important;
  width: 50px!important;
}


.dialog_popup{
.popup_title{
  background-color: #4B148C;
  padding: 15px;
  color: #fff;
  font-size: 16px;
}
.popup_content{
  padding: 15px;
}
.submit_btn{
button{
  margin: 20px 0px 15px 0px;
   background-color: #0091EA;
}
}
}


.sign-dialog-container .mat-dialog-container {
  padding: 0px!important;
}
.search_icons{
  position: relative;
    top: 16px;
   color:#4E87FC;
}
.p_lr_10{
  padding:0px 10px;
}
.profile_bg{
  background-color: #f1f1f1;
  height: 55px;
}
.appoment_btn{
  background-color:#0091EA!important;
  border: 1px solid #0091EA!important;
}
.known_btn{
  background-color:#fff!important;
  color:#0091EA!important;
  border: 1px solid #0091EA!important;
}


tr.mat-header-row{
  background-color: #F0F1F6;
}

.patient_portal_table{
  margin: 25px 0px;
}

.timing_btn{
  border: 1px solid #0091EA!important; 
}
.title_txt{
  color:#3539AC;
  font-weight: 500;
}
.place{
  font-size: 16px;
  padding: 10px 0px;
  color:#3539AC;
}

th.mat-header-cell {
  text-align: left!important;
  font-size: 16px!important;
  color: #000!important;
  text-transform: uppercase!important;
}

.top-nav1{
  background: #044FA0;
  .top-nav ul li a {
    line-height: 65px!important;
    cursor: pointer;
  }
}

.visting_page{
  margin: 20px 0px;
}
.user_info{
  color:#fff!important;
  mat-menu{
   mat-button{
    color:#fff!important;
   }
  }
}


.visting_page{
.title_visit{
  border-bottom: 1px solid #cecece;
  font-size: 24px;
  padding-bottom: 14px;
}
.visting_card{
  h1{
    font-size: 18px;
    color: #888888;
    padding-top: 18px;
    padding-bottom: 10px;
  }
  .date_vist{
    background: #eaeaea;
    text-align: center;
    max-width: 80px;
    margin: auto;
  }
  .doctor_info{
    h1{
      padding-top: 0px;
    }
  }
}
}


.date_birth{
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 10px;
}

.vistier_details{
  padding-top: 15px;
  text-align: left;
  padding-left: 40px;
  p{
    padding-top: 5px;
  }
}


.avilable_popup{
  padding: 20px 0px!important;
}
.theme_btn{
  background-color: #3339b1;
}
.theme_btn1{
  border: 2px solid #3339b1!important;
  background: #fff;
  border-radius: 20px !important;
  min-width: 200px !important;
  padding: 0px 4px !important;
  color: #000;
}
.reportdoc{
  padding: 20px;
}
.doctor_info_btn{
  padding: 0 10px !important;
    line-height: 25px !important;
    font-size: 12px;
}
.doctor_profile_infoimg{
  position: relative;
  /* top: -32px; */
  width: 80px;
  border-radius: 50%;
  border: 3px solid #2d5e8f;
  display: inline-block;
}
.timing_btn{
  line-height: 18px !important;
  font-size: 12px;
  margin: 10px 15px 10px 5px !important;
  width: 150px;
}
// @media (min-width: 768px)
// {
// .container {
//     width: 100%;
// }
// }
.s-nav-bar{
  float: right;
}
.s-nav-bar ul.nav.navbar{
  min-width: 510px;
  width: 100%;
}
