<div class="dialog_popup">
    <h1 class="popup_title text-center">Cancel Appointment</h1>
    <div class="popup_content">
        <p>Enter Information and Confirm to Cancel</p>

        <div>
            <mat-form-field class="col-sm-12 p_0">
                <mat-select placeholder="Reason" [formControl]="cancelReason">
                    <mat-option *ngFor="let reason of reasonList" [value]="reason._id">
                        {{reason.valuedescription}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="cancelReason.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-12 p_0">
                <input matInput placeholder="Comment" [formControl]="cancelComment">

            </mat-form-field>

            <div class="submit_btn">
                <button (click)="cancelAppointment()" class="col-sm-12 p_0" mat-raised-button color="primary">Confirm</button>
            </div>
        </div>

    </div>
</div>