<div class="patientDetailsForm">
    <div class="top-nav1 ">
        <!-- navigation -->
        <div class="top-nav w3-agiletop" style="padding:0!important;">
            <div class="container">
                <div class="navbar-header w3llogo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a routerLink="/home">
                            <img src="assets/images/logo.png" class="img-fluid">
                        </a>
                    </h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="w3menu s-nav-bar">
                        <ul class="nav navbar">
                            <li>
                                <a [routerLink]="['/home']">Book appoinment</a>
                            </li>
                            <!-- <li><a  (click)="signin()">sign In</a></li> -->
                            <li class="user_info">

                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- //navigation -->
    </div>
    <section class="visting_page">
        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                    <!-- {{this.profile.firstname}} -->
                    <div *ngIf="doctorData" class="card">
                        <div class="front" style="height: auto;padding-bottom: 10px;position: relative;">
                            <div class="profile_bg"></div>
                            <div class="profile">
                                <img *ngIf="doctorImage==''" style="width: 80px;height: 80px;"
                                    class="doctor_profile_infoimg" src="assets/images/doctor_img.jpg">
                                <img *ngIf="doctorImage!=''" style="width: 80px;height: 80px;"
                                    class="doctor_profile_infoimg" src='data:image/jpg;base64,{{doctorImage}}' />

                            </div>
                            <div class="text-center doctorProfile">
                                <h3 class="h3">{{doctorData.doctor.printname}}</h3>
                                <p class="">{{doctorData.doctor.description}}</p>
                                <p><i class="material-icons hospitalicon"> local_hospital
                                    </i><b class="hospitalname">{{doctorData.doctor.companyname}}, </b> <span
                                        style="color: #517da2;"
                                        class="hospitalname">{{doctorData.doctor.location}}</span></p>

                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">

                    <div class="col-sm-12">
                        <mat-card class="doc-box doctor-info-card-1">
                            <div>
                                <h3 class="titles"><i class="fas fa-user"></i>Personality</h3>
                            </div>
                            <div class="scontent">
                                <span class="span-question">DOB</span>:<span
                                    class="span-answer">{{doctorData.doctor.dateofbirth | date:'dd-MM-yyyy'}} - {{getAge(doctorData.doctor.dateofbirth)}}</span><br />
                                <span class="span-question">Gender</span>:<span
                                    class="span-answer">{{doctorGender}}</span><br />
                                <span class="span-question">Nationality</span>:<span
                                    class="span-answer">{{doctorData.doctor.nationality}}</span><br />
                                <span class="span-question">Qualification</span>:<span
                                    class="span-answer">{{doctorData.doctor.qualification}}</span>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col-sm-12">
                        <mat-card class="doc-box doctor-info-card-2">
                            <div>
                                <h3 class="titles"><i class="fas fa-address-card"></i>Address</h3>
                            </div>
                            <div class="scontent" *ngIf="doctorData.doctor.address">
                                <span class="span-question">Address</span>:<span
                                    class="span-answer">{{doctorData.doctor.address.address}}</span><br />
                                <span class="span-question">Area / City</span>:<span
                                    class="span-answer">{{doctorData.doctor.address.area}} /
                                    {{doctorData.doctor.address.city}}</span><br />
                                <span class="span-question">State / Country</span>:<span
                                    class="span-answer">{{doctorData.doctor.address.state}} /
                                    {{doctorData.doctor.address.country}} -
                                    {{doctorData.doctor.address.zipcode}}</span>
                            </div>
                        </mat-card>
                    </div>


                    <div class="col-sm-12">
                        <mat-card class="doc-box doctor-info-card-3">
                            <div>
                                <h3 class="titles"><i class="fas fa-address-book"></i>Contact</h3>
                            </div>
                            <div class="scontent" *ngIf="doctorData.doctor.contact">
                                <span class="span-question">Emailid</span>:<span
                                    class="span-answer">{{doctorData.doctor.contact.emailid}}</span><br />
                                <span class="span-question">MobileNo</span>:<span
                                    class="span-answer">{{doctorData.doctor.contact.mobilephone}}</span><br />
                                <span class="span-question">WorkPhone</span>:<span
                                    class="span-answer">{{doctorData.doctor.contact.workphone}}</span><br />
                                <span class="span-question">WebSite Url</span>:<span
                                    class="span-answer">{{doctorData.doctor.contact.weburl}}</span>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col-sm-12">
                        <mat-card class="doc-box doctor-info-card-4">
                            <div>
                                <h3 class="titles"><i class="fa fa-comments" aria-hidden="true"></i>Comments</h3>
                            </div>
                            <div class="scontent" *ngIf="doctorData.doctor.contact">
                                <span class="span-question">Description</span>:<span
                                    class="span-answer">{{doctorData.doctor.description}}</span><br />
                                <span class="span-question">Reference Urls</span>:<span
                                    class="span-answer">{{doctorData.doctor.contact.weburl}}</span>
                            </div>
                        </mat-card>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="float:right;">
                                <button routerLink="/home"  class="col-sm-3 p_0"
                                    mat-raised-button color="primary">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>