<div class="top-nav1">
  <!-- navigation -->
  <div class="top-nav w3-agiletop" style="padding:0!important;">
    <div class="container">
      <div class="navbar-header w3llogo">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1>
          <a href="#">
            <img src="assets/images/{{logo}}" class="img-fluid">
          </a>
        </h1>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="w3menu navbar-right">
          <ul class="nav navbar">
            <li>
              <a [routerLink]="['/home']">Book appoinment</a>
            </li>
            <!-- <li><a  (click)="signin()">sign In</a></li> -->
            <li class="user_info">


              <button mat-icon-button [matMenuTriggerFor]="menu"> {{selectedPatient}}
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let patientlog of detail">
                  <span (click)="patientdetail(patientlog._id,(patientlog.firstname+' '+patientlog.lastname))">{{patientlog.firstname}} {{patientlog.lastname}}</span>
                </button>
              </mat-menu>

              <!--

                    <mat-select>
                        <mat-option *ngFor="let patientlog of this.detail" [value]="patientlog.value">
                          {{patientlog.firstname}}
                        </mat-option>
                      </mat-select> -->


              <!-- <a [routerLink]="" (click)="signup()" > JOHN NIGEL</a> -->


            </li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!-- //navigation -->
</div>
<section class="visting_page">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <!-- {{this.profile.firstname}} -->
        <div *ngIf="patientCard" class="card">
          <div class="front">
            <div class="profile_bg"></div>
            <div class="profile">
              <img *ngIf="patientPhoto==''" style="width: 100px;height: 100px;" class="doctor_profile_infoimg" src="assets/images/doctor_img.jpg">
              <img *ngIf="patientPhoto!=''" style="width: 100px;height: 100px;" class="doctor_profile_infoimg"
                src='data:image/jpg;base64,{{patientPhoto}}' />
              
            </div>
            <div  class="text-center">
              <h3>{{patientCard.firstname}} <i class="material-icons" style="cursor: pointer;" routerLink="/patient/{{selectedPatientId}}">
                border_color
                </i></h3> 
              <p class="">{{patientCard.genderuid.valuecode}}</p>
            </div>
            <p class="date_birth" *ngIf="patientCard.dateofbirth">DOB: {{patientCard.dateofbirth | date:'shortDate'}}</p>
            <div class="vistier_details">
              <p class=""> {{patientCard.contact.mobilephone}}</p>
              <p class="">{{patientCard.contact.emailid}}</p>
            </div>
            <div class="vistier_details">
              <p class="">{{patientCard.address.address}}, {{patientCard.address.area}}, {{patientCard.address.city}}- {{patientCard.address.zipcode}},
                {{patientCard.address.state}}, {{patientCard.address.country}}.
              </p>
            </div>
            <div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-8">


        <mat-card>
          <h1 class="title_visit">Visits</h1>
          <div class="visting_card">
            <h1>Upcoming</h1>
            <mat-card style="border: 1px solid #ccc; margin-bottom: 8px;" *ngIf="patientUpcommingAppoinments.length==0">
              <div class="row" style="padding: 0 10px;font-size: 13px;">
                No Upcoming Appointments Found
              </div>
            </mat-card>

            <mat-card style="border: 1px solid #ccc; margin-bottom: 8px;" *ngFor="let pv of patientUpcommingAppoinments">
              <div class="row">
                <div class="col-sm-3">
                  <div class="date_vist" style="border: 1px solid #b8b8b8;">
                    <p style="color: black;font-weight: bold;">
                      {{pv.start | date:'dd'}}
                    </p>
                    <p style="color: black;font-weight: bold;">
                      {{pv.start | date:'MMM'}}
                    </p>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="doctor_info">
                    <h1>{{pv.careprovideruid.name}}, {{pv.department}}</h1>
                    <p> {{pv.start | date:'EEEE h:mm a'}} </p>
                    <p> Appointment No - {{pv.appointmentnumber}} </p>
                  </div>
                </div>
                <div class="col-sm-2">
                  <button (click)="cancelAppointmentPopup(pv._id)" style="margin-right:15px;" mat-raised-button color="primary" class="appoment_btn">Cancel</button>
                </div>
              </div>
            </mat-card>

            <h1>Past Visits</h1>
            <mat-card style="border: 1px solid #ccc; margin-bottom: 8px;" *ngIf="patientvisits.length==0">
              <div class="row" style="padding: 0 10px;font-size: 13px;">
                No Past Visits Found
              </div>
            </mat-card>
            <mat-card style="border: 1px solid #ccc; margin-bottom: 8px;" *ngFor="let pv of patientvisits">
              <div class="row">
                <div class="col-sm-3">
                  <div class="date_vist" style="border: 1px solid #b8b8b8;">
                    <p style="color: black;font-weight: bold;">
                      {{pv.startdate | date:'dd'}}
                    </p>
                    <p style="color: black;font-weight: bold;">
                      {{pv.startdate | date:'MMM'}}
                    </p>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="doctor_info">
                    <h1>{{pv.visitcareproviders.careprovideruid.printname}}, {{pv.visitcareproviders.department}}</h1>
                    <p> {{pv.startdate | date:'EEEE h:mm a'}} </p>
                    <p> {{pv.visitcareproviders.clinic}} </p>
                  </div>
                </div>
                <div (click)="getReports(pv._id)" class="col-sm-2" style="position: relative;top:20px;left: 5%;">
                  <mat-icon *ngIf="openPDF !=pv._id" style="height: 35px;width: 35px;font-size:35px;cursor: pointer;" class="mat-icon material-icons mat-icon-no-color">keyboard_arrow_right</mat-icon>
                  <mat-icon *ngIf="openPDF==pv._id" style="height: 35px;width: 35px;font-size:35px;cursor: pointer;" class="mat-icon material-icons mat-icon-no-color">keyboard_arrow_down</mat-icon>
                </div>
              </div>
              <div style="background: #f0f0f0;padding: 10px;border: 1px solid #ccc;" *ngIf="openPDF==pv._id">
                <div style="border-right: 1px solid #ccc;width: 25%; display: inline-block;text-align: center;" *ngFor="let rpt of patientReports">
                  <i style="font-size: 60px;display: block;color: #3d61ca;" class="material-icons">
                    picture_as_pdf
                  </i>
                  <span>{{rpt.documentname}}</span>
                  <div (click)="downloadReport(rpt._id)" style="background: #337ab7; margin: 10px;padding: 3px;font-size: 12px;cursor: pointer;color: #fff;">
                    <span>Download</span>
                  </div>
                </div>
                <div *ngIf="patientReports.length ==0">
                  No Reports Available for this visit.
                </div>
              </div>
            </mat-card>



            <!-- <mat-accordion>
              <mat-expansion-panel *ngFor="let pv of patientvisits">
                <mat-expansion-panel-header>
                  <mat-panel-title>

                    <div class="date_vist">
                      <p>
                        {{pv.startdate | date:'dd'}} {{pv.startdate | date:'mmm'}}                        
                      </p>
                    </div>

                  </mat-panel-title>
                  <mat-panel-description>
                    <h1>{{pv.visitcareproviders.careprovideruid.printname}},
                      <span>{{pv.visitcareproviders.department}}</span>
                    </h1>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let report of this.patientreport" class="reportdoc">
                  <a href="" download>
                    <img src="{{report.filetype}}" class="img-responsive">
                  </a>
                </div>
              </mat-expansion-panel>
            </mat-accordion> -->

          </div>

        </mat-card>

      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
