<div class="top-nav1">
  <!-- navigation -->
  <div class="top-nav w3-agiletop" style="padding:0!important;">
    <div class="container">
      <div class="navbar-header w3llogo">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1>
          <a routerLink="/home">
            <img src="assets/images/{{logo}}" class="img-fluid">
          </a>
        </h1>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="w3menu s-nav-bar">
          <ul class="nav navbar">
            <li>
              <a [routerLink]="['/home']">Book appoinment</a>
            </li>
            <!-- <li><a  (click)="signin()">sign In</a></li> -->
            <li class="user_info">
              <button mat-icon-button [matMenuTriggerFor]="menu"> {{selectedPatient}}
                <!-- <mat-icon>keyboard_arrow_down</mat-icon> -->
                <span>
                  <img *ngIf="patientPhoto==''" style="width: 38px;height: 38px;top: -3px;"
                    class="doctor_profile_infoimg" src="assets/images/doctor_img.jpg">
                  <img *ngIf="patientPhoto!=''" style="width: 38px;height: 38px;top: -3px;"
                    class="doctor_profile_infoimg" src='data:image/jpg;base64,{{patientPhoto}}' />
                </span>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let patientlog of detail">
                  <span
                    (click)="patientdetail(patientlog._id,(patientlog.firstname+' '+patientlog.lastname),patientlog.externalid)">{{patientlog.firstname}}
                    {{patientlog.lastname}}</span>
                </button>
              </mat-menu>
            </li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!-- //navigation -->
</div>
<section class="visting_page patient-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <!-- {{this.profile.firstname}} -->
        <div *ngIf="patientCard" class="card">
          <div class="front">
            <div class="profile_bg"></div>
            <div class="profile">
              <img *ngIf="patientPhoto==''" style="width: 80px;height: 80px;" class="doctor_profile_infoimg"
                src="assets/images/doctor_img.jpg">
              <img *ngIf="patientPhoto!=''" style="width: 80px;height: 80px;" class="doctor_profile_infoimg"
                src='data:image/jpg;base64,{{patientPhoto}}' />

            </div>
            <div class="patient-info-box">
              <div class="text-center">
                <h3>{{patientCard.firstname}}</h3>
                <p class="">{{patientCard.genderuid.valuecode}}</p>
              </div>
              <p class="date_birth" *ngIf="patientCard.dateofbirth">DOB: {{patientCard.dateofbirth | date:'dd-MM-yyyy'}}
                {{getAge(patientCard.dateofbirth)}}
              </p>
              <div *ngIf="patientCard.contact" class="vistier_details contact-details">
                <p class=""> <i class="fas fa-phone"></i> {{patientCard.contact.mobilephone}}</p>
                <p class=""><i class="far fa-envelope"></i> {{patientCard.contact.emailid}}</p>
              </div>
              <div *ngIf="patientCard.address" class="vistier_details contact-details">
                <p>{{patientCard.address.address}}, {{patientCard.address.area}}, {{patientCard.address.city}}-
                  {{patientCard.address.zipcode}},
                  {{patientCard.address.state}}, {{patientCard.address.country}}.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="patientCard" class="card">
          <div class="front">
            <div class="patient-profile">{{'MYPROFILE'|translate}}</div>
            <ul class="patient-profile-box">
              <li routerLink="/patient/{{selectedPatientId}}"><i class="fas fa-edit"></i>{{'EDITPROFILE'|translate}}
              </li>
              <li><i class="fas fa-lock"></i>{{'CHNAGEPASSWORD'|translate}}</li>
              <li><i class="fas fa-user-clock"></i>{{'SETUPNOTIFICATION'|translate}}</li>
              <li><i class="fas fa-sign-out-alt"></i>{{'SIGNOUT'|translate}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <mat-card class="patient-details-card">
          <mat-tab-group>
            <mat-tab label="{{'HOME'| translate}}">
              <div>
                <h3 class="page-heading">{{'WHATWOULDYOULIKETODO'|translate}}</h3>
                <div class="margintop18">
                  <div class="col-sm-3 paddingleft0">
                    <div class="pointer">
                      <div class="box-icon box1-icon-bg"><i class="far fa-calendar-alt"></i></div>
                      <div class="box-content box1-content-bg" title="{{'REQUESTANAPPOINTMENT' | translate}}">
                        {{'REQUESTANAPPOINTMENT' | translate}}</div>
                    </div>
                  </div>
                  <div class="col-sm-3 paddingleft0">
                    <div class="pointer">
                      <div class="box-icon box2-icon-bg"><i class="far fa-comment-dots"></i></div>
                      <div class="box-content box2-content-bg" title="{{'CHATWITHDOCTOR' | translate}}">
                        {{'CHATWITHDOCTOR'| translate}}</div>
                    </div>
                  </div>
                  <div class="col-sm-3 paddingleft0 paddingright0">
                    <div class="pointer">
                      <div class="box-icon box3-icon-bg"><i class="fas fa-flask"></i></div>
                      <div class="box-content box3-content-bg" title="{{'VIEWLABREPORTS' | translate}}">
                        {{'VIEWLABREPORTS'| translate}}</div>
                    </div>
                  </div>
                  <div class="col-sm-3 paddingright0">
                    <div class="pointer">
                      <div class="box-icon box4-icon-bg"><i class="fas fa-capsules"></i></div>
                      <div class="box-content box4-content-bg" title="{{'MEDICATION' | translate}}">
                        {{'MEDICATION'|translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="clearboth"></div>
              </div>
              <h1 class="titles"><span><i class="far fa-calendar-alt"></i></span>{{'UPCOMINGAPPOINTMENT'|translate}}
              </h1>
              <div class="visting_card">
                <mat-card class="appointment-card" *ngIf="patientUpcommingAppoinments.length==0">
                  <div class="row" style="padding: 0 10px;font-size: 13px;">
                    No Upcoming Appointments Found
                  </div>
                </mat-card>
                <mat-card class="appointment-card" *ngFor="let pv of patientUpcommingAppoinments">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="col-sm-2">
                        <div class="date_vist">
                          <p class="datestring">
                            {{pv.start | date:'dd MMM'}}
                          </p>
                          <p class="yearstring">
                            {{pv.start | date:'yyyy'}}
                          </p>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="doctor_info">
                          <h1>{{pv.careprovideruid.name}}, {{pv.department}}</h1>
                          <p> {{pv.start | date:'EEEE h:mm a'}} </p>
                          <p> Appointment No - {{pv.appointmentnumber}} </p>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <button (click)="cancelAppointmentPopup(pv._id)" mat-raised-button color="primary"
                          class="appoment_btn schedulebtn">Cancel</button>
                      </div>
                    </div>
                  </div>
                </mat-card>

                <h1 class="titles"><span><i class="far fa-calendar-alt"></i></span>{{'PASTAPPOINTMENT'|translate}}</h1>
                <mat-card class="appointment-card" *ngIf="patientvisits.length==0">
                  <div class="row" style="padding: 0 10px;font-size: 13px;">
                    No Past Visits Found
                  </div>
                </mat-card>
                <mat-card class="appointment-card" *ngFor="let pv of patientvisits">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="col-sm-2">
                        <div class="date_vist">
                          <p class="datestring">
                            {{pv.startdate | date:'dd MMM'}}
                          </p>
                          <p class="yearstring">
                            {{pv.startdate | date:'yyyy'}}
                          </p>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="doctor_info">
                          <h1>{{pv.visitcareproviders.careprovideruid.printname}}, {{pv.visitcareproviders.department}}
                          </h1>
                          <p> {{pv.startdate | date:'EEEE h:mm a'}} </p>
                          <p> {{pv.visitcareproviders.clinic}} </p>
                        </div>
                      </div>
                      <div class="col-sm-2" style="position: relative;top:20px;">
                        <!-- <mat-icon *ngIf="openPDF==pv._id"
                          style="height: 35px;width: 35px;font-size:35px;cursor: pointer;"
                          class="mat-icon material-icons mat-icon-no-color">keyboard_arrow_right</mat-icon> -->
                        <mat-icon 
                          style="height: 35px;width: 35px;font-size:35px;cursor: pointer;"
                          class="mat-icon material-icons mat-icon-no-color">keyboard_arrow_down</mat-icon>
                      </div>
                    </div>
                  </div>
                  <div style="background: #f0f0f0;padding: 10px;border: 1px solid #ccc;">
                    <div style="border-right: 1px solid #ccc;width: 20%; display: inline-block;text-align: center;"
                      *ngFor="let rpt of pv.patientreports">
                      <i style="font-size: 48px;display: block;color: #3d61ca;" class="material-icons">
                        picture_as_pdf
                      </i>
                      <span>{{rpt.documentname}}</span>
                      <div (click)="downloadReport(rpt._id)"
                        style="background: #337ab7; margin: 10px;padding: 3px;font-size: 12px;cursor: pointer;color: #fff;">
                        <span>Download</span>
                      </div> 
                    </div>
                    <div *ngIf="pv && pv.patientreports.length ==0">
                      No Reports Available for this visit.
                    </div>
                  </div>
                </mat-card>
              </div>
            </mat-tab>
            <mat-tab label="{{'APPOINTMENT'| translate}}"> Comming Soon </mat-tab>
            <mat-tab label="{{'VIEWBILLS'| translate}}"> Comming Soon </mat-tab>
            <mat-tab label="{{'MESSAGE'| translate}}"> Comming Soon </mat-tab>
            <mat-tab label="{{'MEDICALRECORDS'| translate}}"> Comming Soon</mat-tab>
            <mat-tab label="{{'LABRESULTS'| translate}}"> Comming Soon </mat-tab>
            <mat-tab label="{{'INSURANCE'| translate}}"> Comming Soon </mat-tab>
          </mat-tab-group>
        </mat-card>

      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>