.patientDetailsForm .mat-form-field{
    width:100%;
}
.patientDetailsForm .formheading{
    font-size: 16px;
    color: #384490;
    text-decoration: underline;
    margin-bottom: 10px;
}
.patientDetailsForm .h3{
  font-size: 18px;
  margin:0;
}
.patientDetailsForm .doctorProfile .hospitalname{
    vertical-align: top;
    top: 1px;
    left: 5px;
    position: relative;
}
.patientDetailsForm .doctorProfile .hospitalicon{
    color: #4faf27;
}
.patientDetailsForm .doctorProfile .locationicon{
    color: #af2746;
}