.patientDetailsForm .mat-form-field{
    width:100%;
}
.patientDetailsForm .formheading{
    color: #10457f;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.patientDetailsForm .h3{
  font-size: 16px;
  margin: 0 0 5px 0;
}
.patientDetailsForm .doctorProfile .hospitalname{
    vertical-align: top;
    top: 1px;
    left: 5px;
    position: relative;
}
.patientDetailsForm .doctorProfile .hospitalicon{
    color: #4faf27;
}
.patientDetailsForm .doctorProfile .locationicon{
    color: #af2746;
}
.patientDetailsForm .doctorProfile .separtor{
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding: 5px;
}
.patientDetailsForm .doctorProfile .titles{
    font-size: 16px;
    text-align: left;   
    border: 1px solid #ccc;
    margin: 5px;
    background: #f1f1f1;
    padding: 10px;
    color: #1c4067;
}
.patientDetailsForm .doctorProfile .titles i{
    margin-right:10px; 
}
.patientDetailsForm .doctorProfile .scontent{
    text-align: left;
    padding: 5px 10px;
    margin: 5px;
    background: #f9f9f9;
}
.patientDetailsForm .doctorProfile .slabel{
    color: #2bab9a;
    padding: 5px;   
    font-size: 13px;
    line-height: 27px;
}

.patientDetailsForm .doctorProfile .svalue{
    padding: 5px;
    font-size: 13px;
}
.patientDetailsForm .card,.patientDetailsForm .mat-card{
    border: 1px solid #dededd;
}
.patientDetailsForm .doctorProfile{
    top: -30px;
    position: relative;
}
.patientDetailsForm .doctor_card,.patientDetailsForm .card .front,.patientDetailsForm .card .back{
    position: relative;   
}
.patientDetailsForm .card{
    min-height: auto;
}
.patientDetailsForm .patient-card{
    top: -25px;
    position: relative;
}