	<!-- banner -->
	<div class="inner_section_banner jarallax">
		<div class="bnr-agileinfo">
       <app-toolbar></app-toolbar>
		</div>
	</div>
	<!-- //banner -->

  <!-- =================== doctor Search Code Start Here ================  -->
  <!-- <section class="doctorsearch_part"> -->
      <div class="container">
        <br>
          <mat-card>
          <form [formGroup]="doctorForm" novalidate>
         <!-- <div class="row">
            <div class="col-sm-3">
               <img src="assets/images/doctors/{{doctorinfo_banner}}" class="doctortype_bg">
            </div>
            </div> -->
            <div class="row">
                <!-- <div class="col-sm-4">
                    <mat-form-field class="col-sm-12">
                        <mat-select [(value)]="selectedname" placeholder="Select Name" >
                          <mat-option  *ngFor="let doctortype of doctorinformation" [value]="doctortype.speciality">
                            {{doctortype.speciality}}
                          </mat-option>
                         </mat-select>
                      </mat-form-field>
                 </div> -->
                 <div class="col-sm-4">
                    <mat-form-field class="col-sm-12">
                            <mat-select formControlName="speciality" [(value)]="selectedname" placeholder="Select speciality" required>
                              <mat-option  *ngFor="let doctortype of doctorinformation" [value]="doctortype.speciality">
                                {{doctortype.speciality}}
                              </mat-option>
                             </mat-select>
                             <!-- <input type="text" formControlName="speciality" placeholder="Firstname"> -->
                        <div *ngIf="doctorForm.controls['speciality'].invalid && (doctorForm.controls['speciality'].dirty || doctorForm.controls['speciality'].touched)" class="error-msg">
                          <div *ngIf="doctorForm.controls['speciality'].errors.required" >speciality is required.</div>
                        </div>
                      </mat-form-field>
                </div>

                <!-- <div class="col-sm-4">
                    <mat-form-field [ngClass]="{'error': doctorForm.controls['name'].errors && !doctorForm.controls['name'].pristine}" class="col-md-12" >

                             <input type="text" matInput formControlName="name" placeholder="Firstname" required>

                        <div *ngIf="doctorForm.controls['name'].errors && !doctorForm.controls['name'].pristine" class="error-msg">
                          <div [hidden]="!doctorForm.controls['name'].errors.required">Firstname is required.</div>
                        </div>
                      </mat-form-field>
                </div> -->

               <!-- <div class="col-sm-3">
                    <mat-form-field class="col-sm-12">
                        <mat-select    placeholder="Select Location" [(value)]="selectedloaction">
                          <mat-option  *ngFor="let loaction of doctorlocation" [value]="loaction.name">
                            {{loaction.name}}
                          </mat-option>
                         </mat-select>
                      </mat-form-field>
               </div> -->

                <div >
                    <!-- <input #myInput [(ngModel)]="doctorname"   (input)="onSubmit()"  mat-raised-button color="accent"> -->
                    <button #myInput [(ngModel)]="doctorname"  [disabled]="doctorForm.invalid" (click)="searchclick()" type="submit"   mat-raised-button color="accent">Search</button>
                 </div>

               <!-- <div class="col-sm-5">
                    <mat-form-field class="col-sm-12">
                        <mat-select    placeholder="Select Speciality" [(value)]="selectedloaction">
                          <mat-option  *ngFor="let loaction of doctorlocation" [value]="loaction.name">
                            {{loaction.name}}
                          </mat-option>
                         </mat-select>
                      </mat-form-field>
               </div> -->

             </div>




          </form>
        </mat-card>
         </div>



  <!-- </section> -->
  <!-- =================== doctor Search Code End Here = ================  -->


  <!-- <section class="mrg_tb_40" *ngIf="this.doctorprofiehidden==1"> -->
      <section class="mrg_tb_40" [hidden]="doctorpro">


    <div class="container">
        <div class="row">
            <div class="col-sm-4 p_rl_5" (click)="doctordetails()" *ngFor="let patientinfo of this.res">
              <div class="card">
                <div class="content">
                  <div class="front">
                    <div class="profile">
                       <img src="assets/images/doctors/{{pro}}">
                    </div>
                     <h3>{{patientinfo.name}}</h3>
                      <p>{{patientinfo.worktype}}</p>
                     <div class="dunderline">
                       <img _ngcontent-c1="" alt="" src="assets/images/doctors/{{underlinbg}}">
                      </div>
                    <p class="doctor_short_info">
                      {{patientinfo.description}}
                    </p>
                  </div>
                  <div class="back">
                    <p class="longdetails">
                       {{patientinfo.description}}
                    </p>
                      <div >
                          <button mat-raised-button class="m_r_10" color="primary" (click)="doctorprofile()">Known More</button>
                          <button mat-raised-button color="primary" (click)="doctordetails()">Book An Appointment</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </section>


  	<!-- footer -->
    <app-footer></app-footer>
	<!-- //footer -->
